## Project Detail
This project is an ETL process that involves Extracting world data from a Worldometer website, Transforming the dataset and Loading to the 2023 population data warehouse in ElephantSQL

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import sqlalchemy as db
import psycopg2 as sq
import requests
from bs4 import BeautifulSoup
import re

## Data Extraction: Web Scraping

In [3]:
def extract():
    url = 'https://www.worldometers.info/world-population/population-by-country/'
    response = requests.get(url) # get website and store to response variable

    soup = BeautifulSoup(response.text, 'html')
    headings = soup.find_all('th') # getting the table headers from our html
    table_headers = []
    for heading in headings:
        table_headers.append(heading.text) # Appending or adding to our initialized list
    pd.DataFrame(columns=table_headers)
    
    col_data = soup.find_all('tr') # extracting data row wise
    text = []
    for row in col_data:
        row_data = row.find_all('td')
        row_txt=[data.text for data in row_data] # extracting data data-wise using List Comprehension
        text.append(row_txt)
    data = pd.DataFrame(text, columns = table_headers).iloc[1:, 1:] # Converting to a dataframe
    return data

In [4]:
data = extract()

In [5]:
data

,Country (or dependency),Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
1,India,"1,428,627,663",0.81 %,"11,454,490",481,"2,973,190","-486,136",2.0,28,36 %,17.76 %
2,China,"1,425,671,352",-0.02 %,"-215,985",152,"9,388,211","-310,220",1.2,39,65 %,17.72 %
3,United States,"339,996,563",0.50 %,"1,706,706",37,"9,147,420","999,700",1.7,38,83 %,4.23 %
4,Indonesia,"277,534,122",0.74 %,"2,032,783",153,"1,811,570","-49,997",2.1,30,59 %,3.45 %
5,Pakistan,"240,485,658",1.98 %,"4,660,796",312,"770,880","-165,988",3.3,21,35 %,2.99 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,"4,386",-0.09 %,-4,44,100,0,1.6,44,11 %,0.00 %
231,Falkland Islands,"3,791",0.29 %,11,0,"12,170",0,1.6,40,62 %,0.00 %
232,Niue,"1,935",0.05 %,1,7,260,0,2.4,36,41 %,0.00 %
233,Tokelau,"1,893",1.18 %,22,189,10,0,2.6,27,0 %,0.00 %
234,Holy See,518,1.57 %,8,"1,295",0,0,,,N.A.,0.00 %

## Data Transformation

In [6]:
data.shape

(234, 11)

In [7]:
data[data['Urban Pop %'] == 'N.A.']

,Country (or dependency),Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
52,Venezuela,"28,838,499",1.90 %,"536,803",33,"882,050","321,106",2.2,28,N.A.,0.36 %
104,Hong Kong,"7,491,609",0.04 %,"2,744","7,135","1,050","19,999",0.8,46,N.A.,0.09 %
114,Singapore,"6,014,723",0.65 %,"39,034","8,592",700,"26,998",1.0,43,N.A.,0.07 %
127,Oman,"4,644,384",1.49 %,"68,086",15,"309,500",0,2.5,29,N.A.,0.06 %
129,Kuwait,"4,310,108",0.97 %,"41,235",242,"17,820","11,999",2.1,40,N.A.,0.05 %
136,Puerto Rico,"3,260,314",0.24 %,"7,907",368,"8,870","19,835",1.3,44,N.A.,0.04 %
143,Qatar,"2,716,391",0.79 %,"21,269",234,"11,610",0,1.8,34,N.A.,0.03 %
154,Bahrain,"1,485,509",0.90 %,"13,276","1,955",760,0,1.8,34,N.A.,0.02 %
179,Guadeloupe,"395,839",0.02 %,87,234,"1,690",-800,2.0,42,N.A.,0.00 %
199,U.S. Virgin Islands,"98,750",-0.72 %,-715,282,350,-450,2.1,43,N.A.,0.00 %
208,Northern Mariana Islands,"49,796",0.49 %,245,108,460,-50,2.1,38,N.A.,0.00 %
212,American Samoa,"43,914",-0.81 %,-359,220,200,-790,2.2,29,N.A.,0.00 %
213,Marshall Islands,"41,996",1.03 %,427,233,180,0,2.6,26,N.A.,0.00 %
215,Monaco,"36,297",-0.47 %,-172,"24,360",1,200,2.1,54,N.A.,0.00 %
217,Gibraltar,"32,688",0.12 %,39,"3,269",10,-24,1.8,42,N.A.,0.00 %
221,Palau,"18,058",0.02 %,3,39,460,-20,2.3,36,N.A.,0.00 %
228,Saint Pierre & Miquelon,"5,840",-0.38 %,-22,25,230,0,1.6,44,N.A.,0.00 %
234,Holy See,518,1.57 %,8,"1,295",0,0,,,N.A.,0.00 %

In [8]:
data[data['Med. Age'] == '']

,Country (or dependency),Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
234,Holy See,518,1.57 %,8,"1,295",0,0,,,N.A.,0.00 %

In [9]:
data.isnull().sum() #check null values

Country (or dependency)    0
Population (2023)          0
Yearly Change              0
Net Change                 0
Density (P/Km²)            0
Land Area (Km²)            0
Migrants (net)             0
Fert. Rate                 0
Med. Age                   0
Urban Pop %                0
World Share                0
dtype: int64

In [10]:
data[data.duplicated()] # Filter duplicated values

Empty DataFrame
Columns: [Country (or dependency), Population (2023), Yearly Change, Net Change, Density (P/Km²), Land Area (Km²), Migrants (net), Fert. Rate, Med. Age, Urban Pop %, World Share]
Index: []

In [6]:
# Create a function to clean the dataset 
def clean(table):
    

    for col in table.columns: 
        if table[col].dtype == 'O':  # Check if the column is of object type (string)
            table[col].replace(['N.A.', ''], None, inplace=True)  # Replace 'N.A.' and empty strings with None

    for col in table.columns[1:]: # remove % and ','
      table[col] = table[col].str.replace('%', '')
      table[col] = table[col].str.replace(',', '') 

    for col in data.columns[2:]: # convert relevant columns float 
        table[col] = table[col].astype('float64')
    
    table['Population (2023)'] = table['Population (2023)'].astype('int') # Explicitly convert 'Population' to Int datatype
    
    columns = ['Fert. Rate', 'Med. Age', 'Urban Pop %']
    for col in columns:
        table[col].fillna(round(table[col].mean(), 1), inplace = True) # fill null values 
    return table 

data = clean(data)

## Data Loading into SQL Database

In [7]:
# create sqlalchemy engine to load the dataset
Engine = db.create_engine('postgresql://xhvsfymf:eTuTkR0xuwWhKeYp6wubPqZcsRXj3Rvr@kesavan.db.elephantsql.com/xhvsfymf')

In [8]:
# Load data into the postgresql datawarehouse
data.to_sql('2023 Population', Engine, if_exists='replace', index=False)

234